.snow-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1000;
  overflow: hidden;
}

.snowflake {
  position: absolute;
  top: -10%;
  color: #fff;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
  animation: fall linear infinite, swing ease-in-out infinite;
  user-select: none;
}

/* Falling animation */
@keyframes fall {
  0% {
    top: -10%;
  }
  100% {
    top: 110%;
  }
}

/* Horizontal swinging animation */
@keyframes swing {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
}

/* Add some variety with different snowflake characters */
.snowflake:nth-child(3n) {
  font-size: 0.8em;
}

.snowflake:nth-child(5n) {
  font-size: 1.2em;
}

.snowflake:nth-child(7n) {
  animation-duration: 12s, 3s;
}

.snowflake:nth-child(11n) {
  animation-duration: 8s, 2.5s;
}
